/*Author: Hilla Huhtala*/
/*font-family: 'Fredericka the Great', cursive;
font-family: 'WindSong', cursive;
font-family: 'Bebas Neue', cursive;*/

html, body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-image: url("../images/pattern.jpg");
    background-size: auto;
}

 #empty_space{
    font-size: 70px;
    visibility: hidden;
 }

.row {
    margin:0px;
}

@media only screen and (max-width: 1999px) {
    #header {
        display: none;
    }

    .btn {
        font-size: 20px;
    }
    
    .content {
        background-image: url("../images/backround_frontpage5.png");
        background-size: contain;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

}

@media only screen and (max-width: 576px) {
    .navbar .container-fluid {
        padding-right: 2px;
        padding-left: 2px;
    }
    #navigointipalkki_otsikko h1{
        font-size: 30px;
    }

    #navigointipalkki_otsikko p {
        margin-bottom: 2px;
        font-size: 20px;
    }

    .btn {
        font-size: 15px;
        font-weight: 500;
    }
}

@media only screen and  (min-width: 1200px) {   
    .content {
        background-image: url("../images/backround_frontpage4.png");
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    #header{
        display: block;
        color: white;
        text-shadow: #ffffff88 1px 1px 8px;
    }

    #header h1 {
        font-family: 'Fredericka the Great', cursive;
        font-size: 80px;
        margin-bottom: 3px;
    }

    hr.divider {
        border-top: 3px solid rgb(255, 255, 255);
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 300px;
        margin-right: 300px;
    }

    #header p {
        font-family: 'WindSong', cursive;
        font-size: 45px;
        margin-top: 3px;
    }

    /*SISÄLLÖN TYYLITTELY*/
    #sisalto {
        color: white;
    }

    #sisalto p {
        margin-top: 30px;
        margin-left: 50px;
        font-size: 22px;
    }

    #sisalto h2 {
        font-family: 'Bebas Neue', cursive;
        font-size: 60px;
        margin: 15px;
    }

   

}

/*NAVIGOINTIPALKIN TYYLITTELY ALKAA*/
.navbar {
    background-color: rgba(255, 255, 255, 0.6);
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: #151e1b;
    font-size: 30px;
}

.nav-link:hover {
    color: #151e1b7e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.nav-link-active {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: #151e1b;
    font-size: 30px;
}

.nav-link-active:hover {
    color: #151e1b7e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-light .navbar-text{
    color: #151e1b;
    margin-bottom:2px;
    margin-top: 2px;
    text-shadow: #000000 1px 1px 5px;
}

.navbar-text h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
}

.navbar-text p {
    font-family: 'WindSong', cursive;
    font-size: 25px;
}

.navbar-brand{
    padding: 0px;
}

/*SISÄLLÖN TYYLITTELY*/
.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding:15px;
    margin-bottom: 30px;
    border-radius: 30px;
    
}

.accordion show {
    display: block;
}

.container img {
    border-radius: 10px;
}

#sisalto {
    color: white;
    display: flex;
}

#sisalto p {
    margin-top: 30px;
    font-size: 22px;
}

#sisalto h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin: 15px;
}

.btn {
    color: #151e1b;
    margin: 15px;
    box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 5px;
    font-weight: 500;
}

.btn:hover {
    box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 15px;
}

/*FOOTER*/
footer {
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    position: static;
    bottom: 0px;
}