$div-background: "rgba(255, 255, 255, 0.6)" ;

.content-div {
    background-color: $div-background ;
    padding:15px;
    margin-bottom: 30px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 40px;
}